<p>pizza-order-details works!</p>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>


<h2>All Orders</h2>

<table style="width:100%" class="table">
    <tr>
        <th>OrderId</th>
            <th>Customer Name</th>
            <th>No of items orderded</th>
            <th>Total amount</th>
            <th>Status</th>
            <th>Change Status</th>
      </tr>
      <tr *ngFor="let pizza of pizzaDetails" [class.selected]="pizza === selectedPizza" >
        <td><a routerLink="/orderId/{{pizza.id}}"><span class="idClass" (click)="onSelect(pizza)">{{pizza.id}}</span></a> </td>
        <td>{{pizza.name}}</td>
        <td>{{pizza.noItems}}</td>
        <td>{{pizza.amount}}</td>
        <td>{{pizza.status}}</td>
        <td>{{pizza.changestatus}}</td>
      </tr>
  </table>

  <!-- <tr *ngFor="let pizza of pizzaDetails" [class.selected]="pizza === selectedPizza" >
        <td> <span class="idClass" (click)="onSelect(pizza)">{{pizza.id}}</span> </td>
        <td>{{pizza.name}}</td>
        <td>{{pizza.noItems}}</td>
        <td>{{pizza.amount}}</td>
        <td>{{pizza.status}}</td>
        <td>{{pizza.changestatus}}</td>
      </tr>
  </table> -->

<!-- 

<app-pizza-orders [pizza]="selectedPizza"></app-pizza-orders> -->


