
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="80" alt="Angular Logo" src="https://www.delonghi.com/Global/recipes/multifry/pizza_fresca.jpg" />
  <span>Pizza</span>
  <div class="spacer"></div>
  <div class= "allOrder" >
    <nav>
      <a routerLink="/AllOrders">All Orders</a>
    </nav>
  </div> 
</div>
<br>
<br>
<br>


<h1>welcome pizza hut</h1>
<!-- <app-pizza-add-details></app-pizza-add-details> -->
<router-outlet></router-outlet>
