<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
  margin-left: 50px;
        }

        th,
        td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>

<body>
    <div>
        <br>
    
    <h2>Order Details</h2>
        <table style="width:90%" >
            <tr>
                <th>orderId:</th>
                <td>{{pizza.id}}</td>
            </tr>
            <tr>
                <th>total Amount</th>
                <td>{{pizza.name}}</td>
            </tr>
            <tr>
                <th>delivery details</th>
                <td>{{pizza.status}}</td>
            </tr>
            <tr>
                <th rowspan="2">item detials</th>
                <td>{{pizza.amount}}</td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <!-- <div><button onclick="myFunction()">Click me</button></div> -->
    <!-- <input type="button" value="Click me" onclick="myFunction()"> -->
    <button (click)="goBack()">go back</button>
    
<!-- 
    <div>
        <input type="button" value="Go back" >
        <a routerLink="/AllOrders"></a>
    </div> -->
   
    
</body>


</html>